{% extends 'templates/default.twig' %}

{% block title %}Registreer{% endblock %}
{% block pageTitle %}Registreer{% endblock %}

{% block content %}
    <form action="{{ urlFor('register.post') }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" {% if request.post('email') %} value="{{ request.post('email') }}" {% endif %} class="form-control"/>
            {% if errors.has('email') %}
                {{ errors.first('email') }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="username">Gebruikersnaam</label>
            <input type="text" name="username" id="username" {% if request.post('username') %} value="{{ request.post('username') }}" {% endif %} class="form-control"/>
            {% if errors.has('username') %}
                {{ errors.first('username') }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input type="password" name="password" id="password" class="form-control"/>
            {% if errors.has('password') %}
                {{ errors.first('password') }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password_confirm">Bevestig wachtwoord</label>
            <input type="password" name="password_confirm" id="password_confirm" class="form-control"/>
            {% if errors.has('password_confirm') %}
                {{ errors.first('password_confirm') }}
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" value="Registreer" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>
{% endblock %}

