{% extends 'templates/default.twig'%}

{% block title %}Bestanden{% endblock %}
{% block pageTitle %}Bestanden{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4 col-sm-6">
            <a href="{{ urlFor('file.create') }}" class="btn btn-primary">Nieuw</a>
        </div>
        <div class="col-md-8 col-sm-6">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('file.search')} only %}
        </div>
    </div>

    {% if files is empty %}
        {% if not searchCount %}
            <p>Er zijn geen resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% else %}
            <p>Er zijn nog geen bestanden.</p>
        {% endif %}
    {% else %}
        {% if searchCount %}
            <p>Er zijn <strong>{{ searchCount }}</strong> resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% endif %}

        <div id="files" class="row">
            {% for file in files %}
                <div class="col-md-3 col-sm-6 file">
                    <div class="frame">
                        <div class="image">
                            <a href="{{ assetUrl }}/files/{{ file.name_system }}">
                                {% if file.getType == 'image' %}
                                    <img src="{{ assetUrl }}/files/{{ file.name_system }}" alt="{{ file.name_human }}">
                                {% else %}
                                    <img src="{{ assetUrl }}/images/pdf.svg" alt="{{ file.name_human }}" height="100%">
                                {% endif %}
                            </a>
                        </div>
                        <div class="details">
                            <p class="name" title="{{ file.name_human }}"><strong>{{ file.name_human }}</strong></p>

                            <input type="text" name="url" id="url" value="{{ assetUrl }}/files/{{ file.name_system }}" class="form-control url" onclick="this.select();">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        {{ file.getSizeInKiloByte }} kB
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ assetUrl }}/files/{{ file.name_system }}" target="_blank" title="Wijzigen">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                        <span style="display: inline-block; padding: 0 2px"></span>
                                        <a href="{{ urlFor('file.edit', {id: file.id}) }}" title="Openen">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'file.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

