{% extends 'templates/default.twig'%}

{% block title %}{{ translator.get('Files') }}{% endblock %}
{% block pageTitle %}{{ translator.get('Files') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ assetUrl }}/css/lightbox.css">
{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4 col-sm-6">
            <a href="{{ urlFor('file.create') }}" class="btn btn-primary">{{ translator.get('ButtonNew') }}</a>
        </div>
        <div class="col-md-8 col-sm-6">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('file.search'), 'translator': translator} only %}
        </div>
    </div>

    {% if files is empty %}
        {% if searchCount is defined and searchCount == 0 %}
            <p>{{ translator.get('NoResultsForSearch') | format(keyword) | raw }}</p>
        {% else %}
            <p>{{ translator.get('NoFiles') }}</p>
        {% endif %}
    {% else %}
        {% if searchCount is defined %}
            <p>{{ translator.get('ResultsForSearch') | format(searchCount, keyword) | raw }}</p>
        {% endif %}

        <div id="files" class="row">
            {% for file in files %}
                <div class="col-md-3 col-sm-6 file">
                    <div class="frame">
                        <div class="image">
                            {% if file.isImage() %}

                                <a href="{{ storageUrl.local ~ '/' ~ file.getUrl() }}" target="_blank" data-lightbox="files">
                                    <img src="{{ storageUrl.local ~ '/' ~ file.getUrlThumbnail() }}" alt="{{ file.name_human }}">
                                </a>
                            {% else %}
                                <a href="{{ storageUrl.local ~ '/' ~ file.getUrl() }}" target="_blank">
                                    <img src="{{ assetUrl }}/images/pdf.svg" alt="{{ file.name_human }}" height="100%">
                                </a>
                            {% endif %}
                        </div>
                        <div class="details">
                            <p class="name" title="{{ file.name_human }}"><strong>{{ file.name_human }}</strong></p>

                            <input type="text" name="url" id="url" value="{{ storageUrl.s3 ~ '/' ~ file.getUrl() }}" class="form-control url" onclick="this.select();">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        {{ file.getSizeInKiloByte }} kB
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ urlFor('file.edit', {id: file.id}) }}" title="{{ translator.get('Edit') }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'file.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ assetUrl }}/js/lightbox.js"></script>
{% endblock %}

