{% extends 'templates/default.twig' %}

{% block title %}{{ translator.get('UploadFiles') }}{% endblock %}
{% block pageTitle %}{{ translator.get('UploadFiles') }}{% endblock %}

{% block content %}
    {# Back button#}
    <p>
        <a href="{{ urlFor('file.all') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </p>

    <form action="{{ urlFor('file.create.post') }}" method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group">
            <label for="file">{{ translator.get('ChooseFiles') }}</label>
            <input type="file" id="file" name="file">
            <p class="help-block">{{ translator.get('InfoAllowedFiles') }}</p>
        </div>
        <div class="form-group">
            <input type="submit" value="{{ translator.get('Upload') }}" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>
{% endblock %}

