{% extends 'templates/default.twig' %}

{% block title %}Bestand wijzigen{% endblock %}
{% block pageTitle %}Bestand wijzigen{% endblock %}

{% block content %}
    {# Back button#}
    <p>
        <a href="{{ urlFor('file.all') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </p>

    <form action="{{ urlFor('file.edit.post', {id: id}) }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="name">Naam</label>
            <input type="text" name="name" id="name" value="{{ request.post('name') ? request.post('name') : file.name_human }}" class="form-control"/>
            {% include 'errors/field.twig' with {field: 'name'} %}
        </div>
        <div class="form-group">
            <input type="submit" value="Wijzigingen opslaan" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>

    {# Delete Form #}

    <form id="form-delete" action="{{ urlFor('file.delete', {id: id}) }}" method="post">
        <div class="form-group">
            <input type="submit" value="Verwijderen" class="btn btn-danger form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
        <input name="_METHOD" value="DELETE" type="hidden"/>
    </form>
{% endblock %}

{% block scripts %}
    {% include 'templates/scripts/editor.twig' %}
    {% include 'templates/scripts/formDelete.twig' %}
{% endblock %}

