<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Funnel CMS</title>
    <link rel="stylesheet" href="{{ assetUrl }}/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ assetUrl }}/css/stylesheet.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ assetUrl }}/favicon.png">

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'templates/partials/navigation.twig' %}
    <div class="container">
        <h1>{% block pageTitle %}{% endblock %}</h1>
        <hr/>
        {% include 'templates/partials/messages.twig' %}
        {% block content %}{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's Javascript plugins) -->
    <script src="{{ assetUrl }}/components/jquery/dist/jquery.min.js"></script>
    <!-- Lastest compiled minified bootstrap Javascript -->
    <script src="{{ assetUrl }}/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Javascript -->
    {% block scripts %}{% endblock %}
</body>
</html>