{% extends 'templates/default.twig'%}

{% block title %}{{ translator.get('ForgotPassword') }}{% endblock %}
{% block pageTitle %}{{ translator.get('ForgotPassword') }}{% endblock %}

{% block content %}
    <form action="{{ urlFor('auth.password.recover.post') }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="email">{{ translator.get('Email') }}</label>
            <input type="text" name="email" id="email" {% if request.post('email') %} value="{{ request.post('email') }}" {% endif %} class="form-control"/>
            {% include 'errors/field.twig' with {'field': 'email'} %}
        </div>
        <div class="form-group">
            <input type="submit" value="{{ translator.get('RequestPasswordReset') }}" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>
{% endblock %}