{% extends 'email/templates/default.twig' %}

{% block content %}
    <p>Je hebt een aanvraag ingediend om je wachtwoord te resetten.</p>
    <p>Klik op onderstaande URL op je wachtwoord te resetten.</p>
    <a href="{{ baseUrl }}{{ urlFor('auth.password.reset') }}?email={{ user.email }}&identifier={{ identifier|url_encode }}">{{ baseUrl }}{{ urlFor('auth.password.reset') }}?email={{ user.email }}&identifier={{ identifier|url_encode }}</a>
{% endblock %}