{% extends 'templates/default.twig'%}

{% block title %}Artikels{% endblock %}
{% block pageTitle %}Artikels{% endblock %}

{% block content %}
    <p><a href="{{ urlFor('article.create') }}" class="btn btn-primary">Nieuw</a></p>
    {% if articles is empty %}
        <p>Er zijn nog geen artikels.</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Onderwerp</th>
                        <th>Auteur</th>
                        <th>Aangemaakt op</th>
                        <th>Laatst gewijzigd op</th>
                        <th>Gepubliceerd op</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.subject }}</td>
                            <td>{{ article.author.getFullNameOrEmail }}</td>
                            <td>{{ article.getCreatedAt }}</td>
                            <td>{{ article.getUpdatedAt }}</td>
                            <td>{{ article.getPublishedAt }}</td>
                            <td><a href="{{ urlFor('article.edit', {id: article.id}) }}" title="Wijzigen">Wijzigen</a></td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tr>
                    <th>Onderwerp</th>
                    <th>Auteur</th>
                    <th>Aangemaakt op</th>
                    <th>Laatst gewijzigd op</th>
                    <th>Gepubliceerd op</th>
                    <th>Actie</th>
                </tr>
            </table>
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'article.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

