{% extends 'templates/default.twig'%}

{% block title %}Artikels{% endblock %}
{% block pageTitle %}Artikels{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4 col-sm-6">
            <a href="{{ urlFor('article.create') }}" class="btn btn-primary">Nieuw</a>
        </div>
        <div class="col-md-8 col-sm-6">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('article.search')} only %}
        </div>
    </div>

    {% if articles is empty %}
        {% if searchCount is defined and searchCount == 0 %}
            <p>Er zijn geen resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% else %}
            <p>Er zijn nog geen artikels.</p>
        {% endif %}
    {% else %}
        {% if searchCount is defined %}
            <p>Er zijn <strong>{{ searchCount }}</strong> resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Onderwerp</th>
                        <th>Auteur</th>
                        <th>Aangemaakt op</th>
                        <th>Laatst gewijzigd op</th>
                        <th>Gepubliceerd op</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.subject }}</td>
                            <td>{{ article.author.getFullNameOrEmail }}</td>
                            <td>{{ article.getCreatedAt }}</td>
                            <td>{{ article.getUpdatedAt }}</td>
                            <td>{{ article.getPublishedAt }}</td>
                            <td><a href="{{ urlFor('article.edit', {id: article.id}) }}" title="Wijzigen">Wijzigen</a></td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tr>
                    <th>Onderwerp</th>
                    <th>Auteur</th>
                    <th>Aangemaakt op</th>
                    <th>Laatst gewijzigd op</th>
                    <th>Gepubliceerd op</th>
                    <th>Actie</th>
                </tr>
            </table>
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'article.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

