{% extends 'templates/default.twig' %}

{% block title %}Artikel aanmaken{% endblock %}
{% block pageTitle %}Artikel aanmaken{% endblock %}

{% block content %}
    {# Back button#}
    <p>
        <a href="{{ urlFor('home') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </p>

    <form action="{{ urlFor('article.create.post') }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="subject">Onderwerp</label>
            <input type="text" name="subject" id="subject" {% if request.post('subject') %} value="{{ request.post('subject') }}" {% endif %}class="form-control"/>
            {% include 'errors/field.twig' with {field: 'subject'} %}
        </div>
        <div class="form-group">
            <label for="content">Bericht</label>
            <textarea name="content" id="content" class="form-control" rows="10">{% if request.post('content') %} value="{{ request.post('content') }}" {% endif %}</textarea>
            {% include 'errors/field.twig' with {field: 'content'} %}
        </div>
        <div class="form-group">
            <input type="submit" value="Aanmaken" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>
{% endblock %}

