{% extends 'templates/default.twig'%}

{% block title %}{{ translator.get('MailingList') }}{% endblock %}
{% block pageTitle %}{{ translator.get('MailingList') }}{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4 col-sm-6">
            <a href="{{ urlFor('newsletter.all') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
            <a href="{{ urlFor('newsletter.mailingList.create') }}" class="btn btn-primary">{{ translator.get('ButtonNew') }}</a>
        </div>
        <div class="col-md-8 col-sm-6">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('newsletter.mailingList.search'), 'translator': translator} only %}
        </div>
    </div>

    {% if recipients is empty %}
        {% if searchCount is defined and searchCount == 0 %}
            <p>{{ translator.get('NoResultsForSearch') | format(keyword) | raw }}</p>
        {% else %}
            <p>{{ translator.get('NoMailingList') }}</p>
        {% endif %}
    {% else %}
        {% if searchCount is defined %}
            <p>{{ translator.get('ResultsForSearch') | format(searchCount, keyword) | raw }}</p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ translator.get('Email') }}</th>
                        <th>{{ translator.get('Name') }}</th>
                        <th>{{ translator.get('Status') }}</th>
                        <th>{{ translator.get('Action') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipient in recipients %}
                        <tr>
                            <td>{{ recipient.address }}</td>
                            <td>{{ recipient.name }}</td>

                            {% if recipient.subscribed == 'yes' %}
                                <td class="success">{{ translator.get('Subscribed') }}</td>
                            {% else %}
                                <td class="danger">{{ translator.get('Unsubscribed') }}</td>
                            {% endif %}

                            <td>
                                <a href="{{ urlFor('newsletter.mailingList.edit', {'address': recipient.address}) }}">{{ translator.get('Edit') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tr>
                    <th>{{ translator.get('Email') }}</th>
                    <th>{{ translator.get('Name') }}</th>
                    <th>{{ translator.get('Status') }}</th>
                    <th>{{ translator.get('Action') }}</th>
                </tr>
            </table>
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'newsletter.mailingList.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

