{% extends 'templates/default.twig'%}

{% block title %}Mailinglijst{% endblock %}
{% block pageTitle %}Mailinglijst{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4 col-sm-6">
            <a href="{{ urlFor('newsletter.all') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
            <a href="{{ urlFor('newsletter.mailingList.create') }}" class="btn btn-primary">Nieuw</a>
        </div>
        <div class="col-md-8 col-sm-6">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('newsletter.mailingList.search')} only %}
        </div>
    </div>

    {% if recipients is empty %}
        {% if searchCount is defined and searchCount == 0 %}
            <p>Er zijn geen resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% else %}
            <p>Er zijn nog geen ontvangers voor de nieuwsbrief.</p>
        {% endif %}
    {% else %}
        {% if searchCount is defined %}
            <p>Er zijn <strong>{{ searchCount }}</strong> resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>E-mailadres</th>
                        <th>Naam</th>
                        <th>Status</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipient in recipients %}
                        <tr>
                            <td>{{ recipient.address }}</td>
                            <td>{{ recipient.name }}</td>

                            {% if recipient.subscribed == 'yes' %}
                                <td class="success">Ingeschreven</td>
                            {% else %}
                                <td class="danger">Uitgeschreven</td>
                            {% endif %}

                            <td>
                                <a href="{{ urlFor('newsletter.mailingList.edit', {'address': recipient.address}) }}" title="Wijzigen">Wijzigen</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tr>
                    <th>E-mailadres</th>
                    <th>Naam</th>
                    <th>Status</th>
                    <th>Actie</th>
                </tr>
            </table>
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'newsletter.mailingList.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

