{% extends 'templates/default.twig' %}

{% block title %}{{ translator.get('AddRecipient') }}{% endblock %}
{% block pageTitle %}{{ translator.get('AddRecipient') }}{% endblock %}

{% block content %}
    {# Back button#}
    <p>
        <a href="{{ urlFor('newsletter.mailingList.all') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </p>

    <form action="{{ urlFor('newsletter.mailingList.create.post') }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="email">{{ translator.get('Email') }}</label>
            <input type="email" name="email" id="email" {% if request.post('email') %} value="{{ request.post('email') }}" {% endif %}class="form-control"/>
            {% include 'errors/field.twig' with {field: 'email'} %}
        </div>
        <div class="form-group">
            <label for="name">{{ translator.get('Name') }}</label>
            <input type="name" name="name" id="name" {% if request.post('name') %} value="{{ request.post('name') }}" {% endif %}class="form-control"/>
            {% include 'errors/field.twig' with {field: 'name'} %}
        </div>
        <div class="form-group">
            <input type="submit" value="{{ translator.get('Add') }}" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>
{% endblock %}

{% block scripts %}
    {% include 'templates/scripts/editor.twig' %}
{% endblock %}

