{% extends 'templates/default.twig'%}

{% block title %}{{ translator.get('Users') }}{% endblock %}
{% block pageTitle %}{{ translator.get('Users') }}{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4">
            <a href="{{ urlFor('user.create') }}" class="btn btn-primary">{{ translator.get('ButtonNew') }}</a>
        </div>
        <div class="col-md-8">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('user.search'), 'translator': translator} only %}
        </div>
    </div>

    {% if users is empty %}
        {% if searchCount is defined and searchCount == 0 %}
            <p>{{ translator.get('NoResultsForSearch') | format(keyword) | raw }}</p>
        {% else %}
            <p>{{ translator.get('NoUsers') }}</p>
        {% endif %}
    {% else %}
        {% if searchCount is defined %}
            <p>{{ translator.get('ResultsForSearch') | format(searchCount, keyword) | raw }}</p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ translator.get('Email') }}</th>
                        <th>{{ translator.get('Rights') }}</th>
                        <th>{{ translator.get('Action') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }} {{ user.isActivated() ? "" : translator.get('NotActivated') }}</td>
                            <td>{{ user.isAdmin() ? translator.get('Admin') : translator.get('Normal') }}</td>
                            <td><a href="{{ urlFor('user.edit', {userId: user.id}) }}">{{ translator.get('Edit') }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tr>
                    <th>{{ translator.get('Email') }}</th>
                    <th>{{ translator.get('Rights') }}</th>
                    <th>{{ translator.get('Action') }}</th>
                </tr>
            </table>
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'user.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

