{% extends 'templates/default.twig'%}

{% block title %}Gebruikers{% endblock %}
{% block pageTitle %}Gebruikers{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4">
            <a href="{{ urlFor('user.create') }}" class="btn btn-primary">Nieuw</a>
        </div>
        <div class="col-md-8">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('user.search')} only %}
        </div>
    </div>

    {% if users is empty %}
        {% if not searchCount %}
            <p>Er zijn geen resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% else %}
            <p>Er zijn nog geen gebruikers.</p>
        {% endif %}
    {% else %}
        {% if searchCount %}
            <p>Er zijn <strong>{{ searchCount }}</strong> resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Gebruikersnaam</th>
                        <th>Rechten</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }} {{ user.isActivated ? "" : "(Niet geactiveerd)" }}</td>
                            <td>{{ user.isAdmin ? 'Admin' : 'Normaal' }}</td>
                            <td><a href="{{ urlFor('user.edit', {userId: user.id}) }}" title="Wijzigen">Wijzigen</a></td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tr>
                    <th>Gebruikersnaam</th>
                    <th>Rechten</th>
                    <th>Actie</th>
                </tr>
            </table>
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'user.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

