{% extends 'templates/default.twig' %}

{% block title %}Gebruiker aanmaken{% endblock %}
{% block pageTitle %}Gebruiker aanmaken{% endblock %}

{% block content %}
    {# Back button#}
    <p>
        <a href="{{ urlFor('user.all') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </p>

    <form action="{{ urlFor('user.create.post') }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="email">E-mailadres</label>
            <input type="text" name="email" id="email" {% if request.post('email') %} value="{{ request.post('email') }}" {% endif %} class="form-control"/>
            {% include 'errors/field.twig' with {field: 'email'} %}
        </div>
        <div class="form-group">
            <label for="username">Gebruikersnaam</label>
            <input type="text" name="username" id="username" {% if request.post('username') %} value="{{ request.post('username') }}" {% endif %} class="form-control"/>
            {% include 'errors/field.twig' with {field: 'username'} %}
        </div>
        <div class="form-group">
            <label for="permission">Rechten</label>
            <select name="permission" id="permission" class="form-control">
                <option value="0">Maak een keuze</option>
                <option value="1" {{ request.post('permission') and request.post('permission') == 1 ? 'selected' : '' }}>Normaal</option>
                <option value="2" {{ request.post('permission') and request.post('permission') == 2 ? 'selected' : '' }}>Admin</option>
            </select>
            {% include 'errors/field.twig' with {field: 'permission'} %}
        </div>
        <div class="form-group">
            <input type="submit" value="Aanmaken" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>
{% endblock %}

