{% extends 'templates/default.twig' %}

{% block title %}{{ translator.get('EditUser') }}{% endblock %}
{% block pageTitle %}{{ translator.get('EditUser') }}{% endblock %}

{% block content %}
    {# Back button#}
    <p>
        <a href="{{ urlFor('user.all') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </p>

    <form action="{{ urlFor('user.edit.post', {userId: userId}) }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="email">{{ translator.get('Email') }}</label>
            <input type="text" name="email" id="email" value="{{ request.post('email') ? request.post('email') : user.email }}" class="form-control"/>
            {% include 'errors/field.twig' with {field: 'email'} %}
        </div>
        <div class="form-group">
            <label for="permission">{{ translator.get('Rights') }}</label>
            <select name="permission" id="permission" class="form-control">
                <option value="0">{{ translator.get('Choose') }}</option>
                <option value="1" {{ (request.post('permission') and request.post('permission') == 1) or ( user and not user.isAdmin()) ? 'selected' : '' }}>{{ translator.get('Normal') }}</option>
                <option value="2" {{ (request.post('permission') and request.post('permission') == 2) or ( user and user.isAdmin()) ? 'selected' : '' }}>{{ translator.get('Admin') }}</option>
            </select>
            {% include 'errors/field.twig' with {field: 'permission'} %}
        </div>
        <div class="form-group">
            <input type="submit" value="{{ translator.get('Edit') }}" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>

    {# Delete Form #}

    <form id="form-delete" action="{{ urlFor('user.delete', {userId: userId}) }}" method="post">
        <div class="form-group">
            <input type="submit" value="{{ translator.get('Delete') }}" class="btn btn-danger form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
        <input name="_METHOD" value="DELETE" type="hidden"/>
    </form>

    {% include 'templates/partials/modalDelete.twig' %}
{% endblock %}

{% block scripts %}
    {% include 'templates/scripts/modalDelete.twig' %}
{% endblock %}
