{% extends 'templates/default.twig'%}

{% block title %}{{ translator.get('Newsletters') }}{% endblock %}
{% block pageTitle %}{{ translator.get('Newsletters') }}{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4 col-sm-6">
            <a href="{{ urlFor('newsletter.create') }}" class="btn btn-primary">{{ translator.get('ButtonNew') }}</a>
            <a href="{{ urlFor('newsletter.mailingList.all') }}" class="btn btn-primary">{{ translator.get('MailingList') }}</a>
        </div>
        <div class="col-md-8 col-sm-6">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('newsletter.search'), 'translator': translator} only %}
        </div>
    </div>

    {% if newsletters is empty %}
        {% if searchCount is defined and searchCount == 0 %}
            <p>{{ translator.get('NoResultsForSearch') | format(keyword) | raw }}</p>
        {% else %}
            <p>{{ translator.get('NoNewsletters') }}</p>
        {% endif %}
    {% else %}
        {% if searchCount is defined %}
            <p>{{ translator.get('ResultsForSearch') | format(searchCount, keyword) | raw }}</p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ translator.get('Subject') }}</th>
                        <th>{{ translator.get('Author') }}</th>
                        <th>{{ translator.get('Recipients') }}</th>
                        <th>{{ translator.get('SentAt') }}</th>
                        <th>{{ translator.get('Action') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for newsletter in newsletters %}
                        <tr>
                            <td>{{ newsletter.subject }}</td>
                            <td>{{ newsletter.author.getFullNameOrEmail }}</td>
                            <td>{{ newsletter.receivers }}</td>

                            {% if newsletter.published_at is null %}
                                <td class="danger">{{ translator.get('NotSent') }}</td>
                            {% else %}
                                <td class="success">{{ newsletter.getPublishedAt }}</td>
                            {% endif %}

                            <td>
                                <a href="{{ urlFor('newsletter.show', {id: newsletter.id}) }}" target="_blank" title="Preview">{{ translator.get('Preview') }}</a>
                                {% if newsletter.published_at is null %}
                                    - <a href="{{ urlFor('newsletter.edit', {id: newsletter.id}) }}" title="Wijzigen">{{ translator.get('Edit') }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tr>
                    <th>{{ translator.get('Subject') }}</th>
                    <th>{{ translator.get('Author') }}</th>
                    <th>{{ translator.get('Recipients') }}</th>
                    <th>{{ translator.get('SentAt') }}</th>
                    <th>{{ translator.get('Action') }}</th>
                </tr>
            </table>
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'newsletter.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

