{% extends 'templates/default.twig'%}

{% block title %}Nieuwsbrieven{% endblock %}
{% block pageTitle %}Nieuwsbrieven{% endblock %}

{% block content %}
    <div class="row toolbar">
        <div class="col-md-4 col-sm-6">
            <a href="{{ urlFor('newsletter.create') }}" class="btn btn-primary">Nieuw</a>
            <a href="{{ urlFor('newsletter.mailingList.all') }}" class="btn btn-primary">Mailinglijst</a>
        </div>
        <div class="col-md-8 col-sm-6">
            {% include 'templates/partials/searchForm.twig' with {'url': urlFor('newsletter.search')} only %}
        </div>
    </div>

    {% if newsletters is empty %}
        {% if searchCount is defined and searchCount == 0 %}
            <p>Er zijn geen resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% else %}
            <p>Er zijn nog geen nieuwsbrieven.</p>
        {% endif %}
    {% else %}
        {% if searchCount is defined %}
            <p>Er zijn <strong>{{ searchCount }}</strong> resultaten gevonden voor je zoekopdracht "<strong>{{ keyword }}</strong>".</p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Onderwerp</th>
                        <th>Auteur</th>
                        <th>Ontvangers</th>
                        <th>Verzonden op</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for newsletter in newsletters %}
                        <tr>
                            <td>{{ newsletter.subject }}</td>
                            <td>{{ newsletter.author.getFullNameOrEmail }}</td>
                            <td>{{ newsletter.receivers }}</td>

                            {% if newsletter.published_at is null %}
                                <td class="danger">Niet verzonden</td>
                            {% else %}
                                <td class="success">{{ newsletter.getPublishedAt }}</td>
                            {% endif %}

                            <td>
                                <a href="{{ urlFor('newsletter.show', {id: newsletter.id}) }}" target="_blank" title="Preview">Preview</a>
                                {% if newsletter.published_at is null %}
                                    - <a href="{{ urlFor('newsletter.edit', {id: newsletter.id}) }}" title="Wijzigen">Wijzigen</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tr>
                    <th>Onderwerp</th>
                    <th>Auteur</th>
                    <th>Ontvangers</th>
                    <th>Verzonden op</th>
                    <th>Actie</th>
                </tr>
            </table>
        </div>

        {#Pagination#}
        {% include 'templates/partials/pagination.twig' with {'routeName': 'newsletter.all.page','pages': pages, 'page': page} only %}
        <br><br>
    {% endif %}
{% endblock %}

