{% extends 'templates/default.twig' %}

{% block title %}Nieuwsbrief opstellen{% endblock %}
{% block pageTitle %}Nieuwsbrief opstellen{% endblock %}

{% block content %}
    {# Back button#}
    <p>
        <a href="{{ urlFor('newsletter.all') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </p>

    <form action="{{ urlFor('newsletter.create.post') }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="subject">Onderwerp</label>
            <input type="text" name="subject" id="subject" {% if request.post('subject') %} value="{{ request.post('subject') }}" {% endif %}class="form-control"/>
            {% include 'errors/field.twig' with {field: 'subject'} %}
        </div>
        <div class="form-group">
            <label for="content">Bericht</label>
            <textarea name="content" id="content" class="form-control editor" rows="10">{% if request.post('content') %}{{ request.post('content') }}{% endif %}</textarea>
            {% include 'errors/field.twig' with {field: 'content'} %}
        </div>
        <div class="form-group">
            <label for="publish">Wil je de nieuwsbrief verzenden?</label>
            <select name="publish" id="publish" class="form-control">
                <option value="0">Maak een keuze</option>
                <option value="1" {{ request.post('publish') and request.post('publish') == 1 ? 'selected' : '' }}>Nee, niet verzenden</option>
                <option value="2" {{ request.post('publish') and request.post('publish') == 2 ? 'selected' : '' }}>Ja, verzenden</option>
            </select>
            {% include 'errors/field.twig' with {field: 'publish'} %}
        </div>
        <div class="form-group">
            <input type="submit" value="Opstellen" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>
{% endblock %}

{% block scripts %}
    {% include 'templates/scripts/editor.twig' %}
{% endblock %}

