{% extends 'templates/default.twig' %}

{% block title %}Nieuwsbrief wijzigen{% endblock %}
{% block pageTitle %}Nieuwsbrief wijzigen{% endblock %}

{% block content %}
    {# Back button#}
    <p>
        <a href="{{ urlFor('newsletter.all') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </p>

    <form action="{{ urlFor('newsletter.edit.post', {id: id}) }}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="subject">Onderwerp</label>
            <input type="text" name="subject" id="subject" value="{{ request.post('subject') ? request.post('subject') : newsletter.subject }}" class="form-control"/>
            {% include 'errors/field.twig' with {field: 'subject'} %}
        </div>
        <div class="form-group">
            <label for="content">Bericht</label>
            <textarea name="content" id="content" class="form-control editor" rows="10">{{ request.post('content') ? request.post('content') : newsletter.content }}</textarea>
            {% include 'errors/field.twig' with {field: 'content'} %}
        </div>
        <div class="form-group">
            <label for="publish">Wil je de nieuwsbrief verzenden?</label>
            <select name="publish" id="publish" class="form-control">
                <option value="0">Maak een keuze</option>
                <option value="1" {{ request.post('publish') and request.post('publish') == 1 ? 'selected' : '' }}>Nee, niet verzenden</option>
                <option value="2" {{ request.post('publish') and request.post('publish') == 2 ? 'selected' : '' }}>Ja, verzenden</option>
            </select>
            {% include 'errors/field.twig' with {field: 'publish'} %}
        </div>
        <div class="form-group">
            <input type="submit" value="Wijzigingen opslaan" class="btn btn-primary form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
    </form>

    {# Delete Form #}

    <form id="form-delete" action="{{ urlFor('newsletter.delete', {id: id}) }}" method="post">
        <div class="form-group">
            <input type="submit" value="Verwijderen" class="btn btn-danger form-control"/>
        </div>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}"/>
        <input name="_METHOD" value="DELETE" type="hidden"/>
    </form>
{% endblock %}

{% block scripts %}
    {% include 'templates/scripts/editor.twig' %}
    {% include 'templates/scripts/formDelete.twig' %}
{% endblock %}

